.custom-heading
{
	 font-size: 60px;
      color: #333333;
	  font-family: 'GaramondURW-Reg' !important;
	  padding: 25px;
min-width: 640px;
max-width: 939px;
}

.custom-paragraph
{
font-size: 17px;
      color: #333333;
	  font-family: 'ProximaNova-Regular' !important;;
}
.inline-hover::after {
	content:'';
	display: block;
	height: 1px;
	width: 100%;
	background-color: #A40C8B;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease-in-out;
}
.inline-hover:hover::after {
	transform: scaleX(1);
}
/* .spacingline-password{
	margin-left: -40px;
	margin-top: 2px;
}  */

.body{
  background-color: #F5F5F5;
}
.input-container {
  position: relative;
}
input {
  height: 48px;
  width: 40rem;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
}
.label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  display: flex;
  align-items: center;
  pointer-events: none;
}
input, .label .text {
  font-family: 'Segoe UI';
  font-size: 16px;
}
input:focus {
  outline: none;
  border: 2px solid #A40C8B;
}
input, .label .text {
  font-family: 'Segoe UI';
  font-size: 16px;
  background-color: #F5F5F5;
}
input:focus + .label .text {
  font-size: 12px;
  transform: translate(0, -50%);
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  color: #A40C8B;
}
.label .text {
  transition: all 0.15s ease-out;
}
input:focus + .label .text, :not(input[value=""]) + .label .text {
  font-size: 12px;
  transform: translate(0, -150%);
  background-color: #F5F5F5;
  padding-left: 4px;
  padding-right: 4px;
}

input:focus + .label .text {
  color: #A40C8B;
}

lightning-button.button {
	--sds-c-button-brand-color-background: #A40C8B;
    --sds-c-button-text-color: #f4f7f9;
    --slds-c-button-brand-color-border-hover: #A40C8B;
    --slds-c-button-brand-color-background-hover: #A40C8B;
    --slds-c-button-brand-color-border: #A40C8B;
}