.myClass1{
   
    background-color: blueviolet;
    font-size: 20px;
    text-align: left;
    text-decoration: dotted;
    text-decoration-color: crimson;
    height: 100px;
    padding-top: 20px;
    padding-left: 30px;
    margin: 20px;
}
.myClass2{
    background-color: navajowhite;
    font-size: 30px;
    text-align: left;
    text-decoration: dotted;
    text-decoration-color: crimson;
    height: 100px;
    padding-top: 20px;
    padding-left: 30px;
    margin: 20px;
}